<!doctype html>
<html>
 <head>  
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
  <meta charset="UTF-8" name="package-mapping" content="com_vaadin_template_orders_ui_view_orders:com.vaadin.tatu.ui.view.orders">
 </head> 
 <body> 
  <vaadin-panel caption="History" style-name="well"> 
   <vaadin-vertical-layout style-name="history"> 
    <vaadin-css-layout id="items" width-full _id="items"></vaadin-css-layout> 
    <vaadin-horizontal-layout width-full> 
     <vaadin-text-field id="newCommentInput" width-full placeholder="Message" _id="newCommentInput" :expand></vaadin-text-field> 
     <vaadin-button icon="fonticon://Vaadin-Icons/e921" style-name="quiet" id="commitNewComment" plain-text _id="commitNewComment"></vaadin-button> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-panel>  
 </body>
</html>